.form__wrapper {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: 0 auto 24px auto;
}

.btn {
    margin: 0 auto;
    display: block;
}

input {
    margin-bottom: 20px;
    display: block;
    padding: 4px 8px;
}

input:last-child {
    margin-bottom: 0;
}